body {
  background-color: #f5c66b;
  font-family: merriweather;
}
main {
  width: 60%;
  height: 80vh;
  background-color: #fff;
  margin: 5rem auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border-radius: 0 3px 3px 0;
  box-shadow: 5px 5px 7px rgb(95, 86, 86);
}
.cards {
  background-color: #f1eff1;
  width: 40%;
  height: 100%;
  overflow: scroll;
  padding: 2rem 3rem;
}
.cards .flex img {
  margin-right: -1rem;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.box {
  width: 13rem;
  height: 6rem;
  background-color: #fff;
  border: 1px solid lightgray;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 1rem 0.5rem;
}
.box p {
  margin-top: -0.5rem;
}
.box:hover {
  border: 2px solid #7e88c0;
}
.box img {
  width: 3rem;
  height: 3rem;
}
.price {
  width: 70%;
  height: 100%;
  padding: 2rem 3rem;
  text-align: left;
  overflow: scroll;
}

hr {
  margin-top: -1.2rem;
}
.flex h3 {
  font-size: medium;
}
.blue,
.plus {
  display: flex;
  flex-direction: row;
}
.price .flex img {
  background-color: white;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  border: 1px solid lightgray;
  margin-top: 2rem;
}
.item p {
  font-size: smaller;
  margin-top: -1rem;
  color: rgb(151, 143, 143);
}
.left {
  margin-left: -4rem;
}

sup {
  margin-top: 1rem;
}
.blue sup,
.plus sup {
  margin-top: 0.75rem;
}
.plus {
  color: #82c85a;
}
.blue {
  color: #7f8dbd;
}
.flex:last-of-type {
  margin-bottom: 2rem;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track:hover {
  border-radius: 10px;
  display: initial;
  background-color: #706e70;
  transition: 3s;
}
